@font-face {
  font-family: 'HelveticaNeue';
  src: url('fonts/helvetica-neue/helveticaneue_regular-webfont.woff2')
      format('woff2'),
    url('fonts/helvetica-neue/helveticaneue_regular-webfont.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('fonts/helvetica-neue/helveticaneue_bold-webfont.woff2')
      format('woff2'),
    url('fonts/helvetica-neue/helveticaneue_bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: optional;
}

:root {
  --color-red: #d34848;
  --color-red-btn: #d1346e;
  --color-yellow: #ffb33f;
  --color-blue: #1fe1e9;
  --color-dark: #191919;
  --color-purple: #5e33d1;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

h1,
h2,
h3 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

h1 {
  font-size: calc(1.545rem + 3.54vw);
}

h2 {
  font-size: calc(1.425rem + 2.1vw);
}

h3 {
  font-size: calc(1.355rem + 1.8vw);
}

@media (max-height: 600px) {
  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.8rem;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 6.5rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.8rem;
  }
}

.text-shadow-xs {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
}

.text-shadow-sm {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}

.t-shadow-md {
  text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.text-shadow-lg {
  text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

.uppercase {
  text-transform: uppercase;
}

body {
  font-family: 'HelveticaNeue', Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  margin: 0;
}

/* Buttons */
.btn {
  border-radius: 79px;
  border: 0;
  cursor: pointer;
  font-size: calc(1.1rem + 1.54vw);
  font-weight: 700;
  letter-spacing: 2.3px;
  line-height: 1.21;
  outline: 0;
  padding: 2.7rem 6.4rem;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn--small {
  width: 33rem;
}

.btn--extra-small {
  padding: 2rem 6.2rem;
  font-size: 1.8rem;
}

.btn--cta {
  color: transparent;
  max-height: 100vh;
  opacity: 1;
  overflow: hidden;
  position: relative;
  transition: all 0.3s;
}

.btn--cta::before {
  --size: 0;
  background: radial-gradient(
    circle closest-side,
    rgba(255, 179, 63, 0.7) 0%,
    rgba(211, 72, 72, 0.7) 27%,
    rgba(94, 51, 209, 0.7) 51%,
    rgba(31, 225, 233, 0.7) 90%,
    transparent
  );
  content: '';
  height: var(--size);
  left: var(--x);
  position: absolute;
  top: var(--y);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
  width: var(--size);
}

.navbar--red .btn--cta,
.btn--red {
  color: var(--color-red-btn);
}

.navbar--yellow .btn--cta,
.btn--yellow {
  color: var(--color-yellow);
}

.navbar--black .btn--cta {
  color: var(--color-dark);
}

.navbar--blue .btn--cta,
.btn--blue {
  color: var(--color-blue);
}

.btn--cta:hover {
  background-color: rgba(0, 0, 0, 0.25);
  color: #fff;
}

.btn--cta:hover::before {
  --size: 400px;
}

.btn--cta span {
  position: relative;
  pointer-events: none;
}

.navbar--header .btn--cta,
.navbar--get-it-now .btn--cta {
  max-height: 0;
  opacity: 0;
}

.btn--white {
  background-color: #fff;
}

.btn--gradient {
  background-color: transparent;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.btn--gradient::before {
  content: attr(data-text);
  position: absolute;
  z-index: 30;
}

.btn--gradient::after {
  background-color: transparent;
  box-shadow: -1.2em 1.5em 2em 2.5em rgba(94, 51, 209, 0.9),
    5em 0em 2em 2em rgba(255, 179, 63, 0.9),
    -4em -1em 2em 2em rgba(31, 225, 233, 0.9),
    -4em 2em 2em 4em rgba(31, 225, 233, 0.7),
    0 0em 2em 3em rgba(211, 72, 72, 0.9), 2em 0em 2em 2em rgba(211, 72, 72, 1);
  content: '';
  height: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 0;
}

.btn--gradient:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.btn--gradient:hover::after {
  animation: mix 5s linear infinite;
}

@keyframes mix {
  20% {
    box-shadow: 0 -1em 2em 3em rgba(255, 0, 200, 0.5),
      4em -1em 2em 3em rgba(255, 50, 0, 0.8),
      -4em 2em 3em 2em rgba(155, 200, 0, 0.5),
      -4em -2em 2em 2em rgba(200, 0, 150, 0.6),
      0 3em 2em 2em rgba(20, 250, 0, 0.5),
      2em 1em 2em 2em rgba(50, 10, 250, 0.5);
  }

  50% {
    box-shadow: 2em 1em 2em 3em rgba(55, 0, 200, 0.5),
      3em 1em 2em 3em rgba(25, 150, 0, 0.6),
      3em -2em 3em 3em rgba(155, 200, 0, 0.5),
      -4em 2em 2em 3em rgba(200, 0, 50, 0.6),
      0 -3em 2em 3em rgba(200, 250, 0, 0.5),
      -2em 1em 2em 3em rgba(50, 210, 250, 0.6);
  }
}

@media (max-height: 600px) {
  .btn {
    padding: 2rem 3.4rem;
    font-size: 1.8rem;
  }
}

@media (max-width: 600px) {
  .btn {
    margin-top: 5.3rem;
  }

  .navbar .btn--extra-small {
    display: none;
  }
}

@media (min-width: 1200px) {
  .btn {
    font-size: 2.3rem;
  }

  .btn--extra-small {
    font-size: 1.8rem;
  }
}

/* Navbar */
.navbar {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  height: 80px;
  justify-content: space-between;
  left: 0;
  padding: 1.6rem 2.3rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1030;
}

.navbar__brand {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.navbar__logo,
.navbar__toggler {
  cursor: pointer;
}

.navbar__logo {
  font-size: calc(1.425rem + 2.1vw);
  height: calc(1.545rem + 3.54vw);
  letter-spacing: 4.8px;
  line-height: 1.215;
  margin: 0;
}

.navbar__toggler {
  align-self: stretch;
  font-size: calc(1.425rem + 2.3vw) !important;
  height: 100%;
  margin-right: 3.78rem;
}

.navbar__logo,
.navbar__toggler {
  color: #fff;
}

.navbar__collapsible {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.collapsible__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.nav__list {
  list-style: none;
  margin-top: 2.6rem;
  position: absolute;
  display: none;
}

.nav__item {
  color: #fff;
  font-size: calc(1.425rem + 2.1vw);
  font-weight: 700;
  letter-spacing: 4.7px;
  line-height: 1.215;
  margin-bottom: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar--header .nav__item:hover,
.navbar--red .nav__item:hover {
  color: var(--color-red);
}

.navbar--yellow .nav__item:hover {
  color: var(--color-yellow);
}

.navbar--blue .nav__item:hover {
  color: var(--color-blue);
}

.navbar--black .nav__item:hover,
.navbar--get-it-now .nav__item:hover {
  color: #000;
}

.collapsible__shape {
  background-color: #0b0b0b;
  border-radius: 100%;
  height: 68rem;
  position: absolute;
  transform: translate(-100%, -100%);
  transition: all 0.2s;
  width: 68rem;
  z-index: -1;
}

.navbar--header .collapsible--expanded .navbar__logo,
.navbar--red .collapsible--expanded .navbar__logo,
.navbar--header .collapsible--expanded .navbar__toggler,
.navbar--red .collapsible--expanded .navbar__toggler {
  color: var(--color-red);
}

.navbar--yellow .collapsible--expanded .navbar__logo,
.navbar--yellow .collapsible--expanded .navbar__toggler {
  color: var(--color-yellow);
}

.navbar--blue .collapsible--expanded .navbar__logo,
.navbar--blue .collapsible--expanded .navbar__toggler {
  color: var(--color-blue);
}

.navbar--black .collapsible--expanded .navbar__logo,
.navbar--get-it-now .collapsible--expanded .navbar__logo,
.navbar--black .collapsible--expanded .navbar__toggler,
.navbar--get-it-now .collapsible--expanded .navbar__toggler {
  color: #000;
}

.navbar--black .collapsible__shape,
.navbar--get-it-now .collapsible__shape {
  background-color: var(--color-blue);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
  transition: all 0.3s;
  transition-delay: 0.1s;
}

.collapsible--expanded .collapsible__shape {
  transform: translate(-30%, -40%);
}

.collapsible--expanded .nav__list {
  display: block;
}

@media (min-width: 1200px) {
  .navbar {
    padding: 7.6rem 8.3rem;
  }

  .navbar__logo {
    font-size: 4.8rem;
    height: 5.7rem;
  }

  .nav__item {
    font-size: 4.7rem;
  }
}

/* Header component */
.header {
  height: 100vh;
  position: relative;
  width: 100vw;
}

.header__carousel {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.carousel__indicators {
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  list-style: none;
  margin-bottom: 1rem;
  margin-left: 15%;
  margin-right: 15%;
  padding: 0;
  position: absolute;
  right: 0;
  z-index: 2;
}

.carousel__indicator {
  background-clip: padding-box;
  background-color: transparent;
  border-radius: 100%;
  border: 1px solid #fff;
  cursor: pointer;
  flex: 0 1 auto;
  height: 17px;
  margin-bottom: 3.5rem;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;
  text-indent: -999px;
  transition: background-color 0.6s ease;
  width: 17px;
}

.carousel__indicators .active {
  background-color: #fff;
  border: 0;
}

.header__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header__title {
  letter-spacing: 6.5px;
  line-height: 1.215;
  margin-bottom: 0;
  text-align: center;
}

.header__subtitle {
  color: #fff;
  font-size: calc(1.425rem + 1.1vw);
  font-weight: 500;
  letter-spacing: 3.2px;
  line-height: 1.375;
  margin-top: 3.2rem;
  text-align: center;
  width: 90%;
}

@media (max-height: 600px) {
  .carousel__indicator {
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 1200px) {
  .header__subtitle {
    font-size: 3.2rem;
    width: 45%;
  }
}

/* Red Section component */
.red-section {
  height: 100vh;
  background-color: var(--color-red);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 3rem;
  width: 100%;
  height: 100%;
}

.section__heading {
  line-height: 1.215;
  margin-bottom: 0.7rem;
}

.section__text {
  font-size: calc(1.425rem + 1.1vw);
  letter-spacing: 5.1px;
  line-height: 1.2;
  color: #0b0b0b;
}

.section__images {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.section__images img {
  height: 19.7rem;
  margin: 0 1.8rem;
  filter: drop-shadow(5px 40px 30px #9b2525);
}

.section__images img:nth-child(odd) {
  transform: translateY(-30%);
}

.section__images img:nth-child(even) {
  transform: translateY(30%);
}

@media (max-height: 600px) {
  .section__heading {
    font-size: 2.4rem;
    letter-spacing: 2.4px;
    margin-bottom: 0.7rem;
  }

  .section__text {
    font-size: 2.1rem;
    letter-spacing: 2.1px;
    line-height: 1.2;
  }

  .section__images img {
    height: 19.7rem;
    margin: 0 1.8rem;
  }
}

@media (min-width: 800px) {
  .red-section {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .section__content {
    padding-left: 15rem;
  }
  .section__heading {
    font-size: 7.4rem;
    letter-spacing: 7.4px;
    margin-bottom: 2.7rem;
  }

  .section__text {
    font-size: 5.1rem;
    letter-spacing: 5.1px;
    color: #0b0b0b;
  }

  .section__images img {
    height: 39.7rem;
  }
  .section__images img:nth-child(odd) {
    margin-right: 6.8rem;
  }

  .section__images img:nth-child(even) {
    margin-left: 6.8rem;
  }
}

/* Yellow Section component */
.yellow-section {
  align-items: center;
  background-color: var(--color-yellow);
  display: flex;
  height: 100vh;
  justify-content: flex-end;
  position: relative;
}

.yellow-section__bg {
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: right center;
  position: absolute;
  top: 0;
  width: 100%;
}

.yellow-section__bg.masked {
  mask-image: url(../assets/img/mask.svg);
  mask-position: bottom right;
  mask-repeat: no-repeat;
  mask-size: cover;
}

.yellow-section__bg.masked--motion {
  mask-image: url(../assets/img/motion-mask.svg);
  mask-position: var(--x) var(--y);
  mask-repeat: no-repeat;
  mask-size: 345px;
  position: absolute;
}

.yellow-section .section__content {
  /* margin-right: 18rem; */
  position: relative;
  /* width: 55%; */
  z-index: 1;
}

.yellow-section .section__content.masked--motion {
  height: 100%;
  mask-image: url(../assets/img/motion-mask.svg);
  mask-position: var(--x) var(--y);
  mask-repeat: no-repeat;
  mask-size: 345px;
  position: absolute;
  position: absolute;
  right: 0;
  top: 0;
}

.masked--motion .section__heading {
  color: #2ddbba;
}
.masked--motion .section__text {
  color: #3ee6f4;
}

@media (hover: none) {
  .masked--motion {
    display: none;
  }
}

@media (min-width: 800px) {
  .yellow-section .section__content {
    margin-right: 18rem;
    width: 55%;
  }
}

/* Perks Section component */
.perks-section {
  height: 100vh;
  background-color: var(--color-dark);
}

.section__listing {
  display: flex;
  flex-direction: column;
}

.listing__group {
  margin: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listing__heading {
  font-weight: 700;
  letter-spacing: 5.1px;
  line-height: 1.215;
}

.heading--red {
  color: var(--color-red);
}

.heading--blue {
  color: var(--color-blue);
}

.heading--yellow {
  color: var(--color-yellow);
}

.listing__heading::before {
  content: '';
  display: block;
  width: 104px;
  height: 3px;
  margin-bottom: 2.75rem;
}

.heading--red.listing__heading::before {
  background-color: var(--color-red);
}

.heading--blue.listing__heading::before {
  background-color: var(--color-blue);
}

.heading--yellow.listing__heading::before {
  background-color: var(--color-yellow);
}

.listing__text {
  color: #fff;
  font-size: calc(1.255rem + 1vw);
  letter-spacing: 3.5px;
  line-height: 1.17;
  margin-top: 2.8rem;
}

@media (max-height: 600px) {
  .listing__group {
    margin: 2rem 1rem;
  }

  .listing__text {
    font-size: 1.5rem;
  }
}

@media (min-width: 800px) {
  .section__listing {
    flex-direction: row;
  }
}

@media (min-width: 1700px) {
  .listing__heading {
    font-size: 5.1rem;
  }

  .listing__group {
    margin: 8.35rem 0;
    margin-right: 15rem;
  }

  .listing__text {
    font-size: 3.5rem;
  }
}

/* Reviews Section component */
.reviews-section {
  height: 100vh;
  background-color: var(--color-blue);
}

/* GetItNow Section component */
.get-it-now-section {
  height: 60vh;
  background-color: var(--color-dark);
}

/* Footer component */
.footer {
  height: 40vh;
  background-color: var(--color-purple);
}

/* Custom Cursor component */
.custom-cursor {
  align-items: center;
  border-radius: 100%;
  color: #fff;
  display: flex;
  height: 14.5rem;
  justify-content: center;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transform: translate(-50%, -50%);
  width: 14.5rem;
  z-index: 999;
}

.custom-cursor--circle {
  border: 5px solid rgba(255, 2550, 255, 0.808);
}

@media (hover: none) {
  .custom-cursor {
    display: none;
  }
}
